{
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "react",
    "prettier"
  ]
}
