* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: #4d4d4d;
  font-weight: normal;
  padding: 0 10px;
  background-color: #0079bf;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  font-family: inherit;
}

main {
  white-space: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
}

pre {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 5px;
}

pre code {
  background: none;
  padding: 0;
  border-radius: 0;
}

blockquote {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

hr {
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 1rem;
  box-sizing: content-box;
  height: 0;
}

code {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 5px;
}

.card-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 100%;
}

.desk-name-base {
  width: 100%;
  display: block;
}

.desk-name-editing,
.card-title-editing {
  border: none;
  outline: 0;
  border-radius: 3px;
  min-height: 18px;
  padding-bottom: 2px;
}

.card-description {
  width: 100%;
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.12);
  font-size: 14px;
  border-radius: 3px;
  min-height: 40px;
  margin: 20px 0;
}

.card-description:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.card-description-editing {
  border: none;
  outline: 0;
  border-radius: 3px;
}

.card-list-name {
  padding: 5px;
}

.card-delete-button {
  margin: 20px 10px 20px 0;
  padding: 10px 15px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 3px;
  color: #4d4d4d;
  font-size: 14px;
}

.card-delete-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.label-dropdown {
  background-color: #fff;
  width: 260px;
  padding: 10px;
}

.label-dropdown ul {
  list-style: none;
  padding: 0;
}

.label-dropdown ul li {
  margin-bottom: 5px;
}

.label-dropdown-item {
  margin-bottom: 10px;
}

.label-dropdown-item-bar {
  width: 150px;
  border-radius: 3px;
  min-height: 25px;
  display: inline-block;
  padding: 10px;
  border: none;
  text-align: left;
  font-weight: bold;
}

.label-dropdown-item-bar a {
  width: 20px;
  display: inline;
}

.card-labels {
  margin: 0 3px 5px 3px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3px;
}

.ui.label.card-label-tag {
  margin: 2px;
}

.swatch {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

button.swatch-button {
  height: 30px;
  margin-left: 5px;
}

.add-label {
  color: #acacac;
  width: 100%;
  padding: 10px 0;
}

.add-label:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

.add-label-editing {
  padding: 5px;
  border: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  color: #000;
}

.add-label-container {
  padding-top: 5px;
}

.list-menu-button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.card-actions-container {
  margin-top: 20px;
}
