*
	box-sizing border-box
.clearfix
	clearfix()
html
	position relative
	height 100%
body
	font 14px "Helvetica Neue", Arial, Helvetica, sans-serif
	line-height 18px
	color #4d4d4d
	font-weight normal
	padding 0 10px
	background-color rgb(0, 121, 191)
	position relative
	height 100%
	padding 0
	margin 0
	clearfix()
*
	box-sizing border-box
a
	text-decoration none
img
	max-width 100%
textarea
	font-family inherit
main
	white-space nowrap
	height 100%
	display flex
	flex-direction column
	clearfix()
.desk-container
	height 100%
	display inline-block
	width 270px
	margin 0 5px
.desk, .desk-placeholder, .desk-placeholder:hover
	width 270px
	display flex
	flex-direction column
	overflow hidden
	max-height 100%
	min-height 100px
	background-color #e2e4e6
	box-shadow 1px 1px 1px rgba(0,0,0,.5)
	border-radius 3px
	margin-right 20px
	vertical-align top
	.desk-head
		position relative
		padding 5px 8px
		margin-bottom 10px
		clearfix()
		.desk-name
			font-weight bold
			white-space normal
			width 100%
			min-height 24px
.card-title
	display block
	font-size 18px
	font-weight bold
	padding 5px
	width 100%
.desk-name-base
	width 100%
	display block
.desk-name-editing, .card-title-editing
	border none
	outline 0
	border-radius 3px
	min-height 18px
	padding-bottom 2px
.card-description
	width 100%
	display block
	padding 10px
	background-color rgba(0,0,0,0.12)
	font-size 14px
	border-radius 3px
	min-height 40px
	margin 20px 0
	&:hover
		background-color rgba(0,0,0,0.3)
.card-description-editing
	border none
	outline 0
	border-radius 3px
a.add-card
	color #acacac
	padding 8px 10px
	&:hover
		color #4d4d4d
		background-color #cdd2d4
		text-decoration underline
.desk-items
	overflow-y auto
	height 100%
	padding-bottom 15px
	.placeholder, .placeholder:hover
		height 51px
		background-color rgba(208,208,208,1)
.card-list-name
	padding 5px
.item
	width 90%
	margin 0 auto 10px
	background #fff
	min-height 40px
	border-radius 5px
	box-shadow 1px 1px 1px rgba(0,0,0,.3)
	transition 0.15s
	cursor pointer
	&:hover
		background #f7f7f7
	.item-name
		white-space normal
		word-break keep-all
		word-wrap break-world
	.item-container
		padding 10px
		clearfix()
		.item-content
			white-space normal
.new-list-placeholder
	background-color rgba(0,0,0,0.12)
	color rgba(255,2555,255,0.7)
	min-height 10px
	box-shadow none
	&:hover
		background-color rgba(0,0,0,0.3)
		cursor pointer
	a
		color rgba(255,2555,255,0.7)
.card-delete-button
	margin 20px 10px 20px 0
	padding 10px 15px
	height 40px
	background-color rgba(0,0,0,0.12)
	border none
	border-radius 3px
	color #4d4d4d
	font-size 14px
	&:hover
		background-color rgba(0,0,0,0.3)
.label-dropdown
	background-color #fff
	width 260px
	padding 10px
	ul
		list-style none
		padding 0
		li
			margin-bottom 5px
.label-dropdown-item
	margin-bottom 10px
.label-dropdown-item-bar
	width 150px
	border-radius 3px
	min-height 25px
	display inline-block
	padding 10px
	border none
	text-align left
	font-weight bold
	a
		width 20px
		display inline
.card-labels
	margin 0 3px 5px 3px
	min-height 30px
	display flex
	flex-wrap wrap
	padding-bottom 3px
.ui.label.card-label-tag
	margin 2px
.swatch
	display inline-block
	width 30px
	height 30px
	border-radius 15px
	border 3px #fff
	box-shadow 1px 1px 1px rgba(0,0,0,.3)
button.swatch-button
	height 30px
	margin-left 5px
.add-label
	color #acacac
	width 100%
	padding 10px 0
	&:hover
		color #4d4d4d
		text-decoration underline
.add-label-editing
	padding 5px
	border none
	outline 0
	background-color rgba(0,0,0,0.12)
	border-radius 3px
	color #000
.add-label-container
	padding-top 5px
.board-header
	display flex
	justify-content space-between
	background-color rgba(0,0,0,0.12)
	height 40px
	padding 5px
.board
	flex-grow 1
	position relative
	overflow-y auto
.board-inner
	overflow-x auto
	overflow-y hidden
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	user-select none
	white-space nowrap
	display flex
	padding 10px 0
button.ui.button.header-button
	background-color rgba(0,0,0,0.12)
	color rgba(255,2555,255,0.7)
	&:hover
		background-color rgba(0,0,0,0.3)
.list-menu-button
	position absolute
	top 4px
	right 4px
.list-menu
	width 270px
